@page "{topic?}"
@model CoreWiki.Web.Pages.Article.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Article.Topic</h2>
<h5>
    Last Published: <span data-value="@Model.Article.Published" class="timeStampValue"> @Model.Article.Published</span>
</h5>
<markdown markdown="@Model.Article.Content"></markdown>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
