@page
@model CoreWiki.Web.Pages.Article.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.PublishedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.PublishedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
