@page

@using CoreWiki.Utilities.Constants
@using Microsoft.AspNetCore.Authorization

@model IndexModel
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ViewCount)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <span data-value="@item.Published" class="timeStampValue"> @item.Published</span>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Comments.Count)</td>
                <td>@Html.DisplayFor(modelItem => item.ViewCount)</td>
                <td>
                    <a asp-page="./Edit" asp-route-slug="@item.Slug" class="btn btn-warning">Edit</a>
                    <a asp-page="./Details" asp-route-slug="@item.Slug" class="btn btn-primary">Details</a>
                    <a asp-page="./Delete"
                       asp-route-slug="@item.Slug"
                       asp-policy=@PolicyConstants.CanDeleteArticle
                       class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
