@page
@model CoreWiki.Web.Pages.Article.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].PublishedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <span data-value="@item.Published" class="timeStampValue"> @item.Published</span>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-topic="@item.Topic">Edit</a> |
                    <a asp-page="./Details" asp-route-topic="@item.Topic">Details</a> |
                    <a asp-page="./Delete" asp-route-topic="@item.Topic">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
